/.idea
/*.iml
/target
src/main/java/gr/ploigia/rawvis/Test.java
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.DS_Store
.classpath
bin/model.json
bin/pom.xml
bin/queries/synth_10_queries
bin/queries/synth_50_queries
bin/queries/taxi_queries
model.json
groundTruthResults.csv
bin/README.md
.settings/org.eclipse.m2e.core.prefs
